@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,400');

a.nav-item.nav-link {
	color: #ffffff;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  /*font-family: 'Raleway', sans-serif;*/
}

.bg-primary {
	background-color: #333333!important;
	padding:0;
}
.navbar-search{
	position: relative;
	left: 820px;
}

.navbar-brand{
	font-size: 30px;
	font-weight: 800;
}

.story {
	margin: 15px 0px 15px 150px;
}
.story-creator  {
  	font-weight: 500;
}
.story-content {
	font-size: 30px;
	font-weight: 400;
}
.story-comments {

}
.comment-creator {
	font-weight: 500;
}

.feed-container {
	padding: 1rem 0;
}

div.circle-avatar{
	/* make it responsive */
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	/* div height to be the same as width*/
	padding-top:100%;

	/* make it a circle */
	border-radius:50%;

	/* Centering on image`s center*/
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;

	/* it makes the clue thing, takes smaller dimension to fill div */
	background-size: cover;

	/* it is optional, for making this div centered in parent*/
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.large-profile-container {
	padding: 0 40%;
}
